{
	"extends": [
		"@omrilotan"
	],
	"overrides": [
		{
			"files": [ "**/spec.js", "**/stubs.js" ],
			"globals": {
				"wait": true,
				"abuser": true,
				"fake": true,
				"stub": true,
				"spy": true
			}
		}
	]
}
